@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --main-bg-color: ##f4f4f4;
  --main-light-color: ##f4f4f4;
  --main-dark-color: #152246;
  --main-primary-color: #29e7cd;
  --main-secondary-color: #a1a4b0;
  --main-tertiary-color: #9e8b6d;
}

* {
  /* color: white */
  color: linear-gradient(
    180.7deg,
    rgba(0, 213, 255, 1) 2.5%,
    rgba(79, 255, 255, 1) 97.7%
  );
}
body {
  /* background: #f09819;
  background: -webkit-linear-gradient(to right, #edde5d, #f09819);
  background: linear-gradient(to right, #edde5d, #f09819); */
}

.custom-nav {
  margin-top: 3vh !important;
  width: 90%;
  margin: auto;
  border-radius: 24px;
  /* background-color: #4834d4;
  background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%); */
  background-color: #29e7cd;
  background-image: linear-gradient(315deg, #29e7cd 0%, #fffbfc 74%);
}

/* Header Style */
.header {
  background-image: url("../src/assets/header.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 90vh;
}
.right-content {
  margin-top: 100px;
}


.header-btn {
  justify-self: flex-start;
}

.title {
  font-size: 50px;
}
/* End Header Style */

/* About Section Css */

.about-card {
  padding: 1rem;
  border: none;
  display: flex;
  flex-direction: row;
  transition: 1s ease;
  /* align-items: center; */
}
.about-subtitle{
  text-align: start !important;
}
.about-left-section{
  padding: 10px;
}
.abuot-right-section{
  padding: 20px ;
}
.about-left-section .about-img {
  width: 100%;
  height: auto;
  /* border-radius: 50%;
  border: 8px solid #ddd; */
  object-fit: cover;
}
.quote::before {
  content: open-quote;
  font-size: 2em; /* Adjust the size as needed */
  margin-right: 0.5em; /* Adjust the spacing as needed */
}
/* End About Section */
.text-style {
  font-family: "Pacifico";
  word-spacing: 3px;
}

.neon {
  animation: neonAnim 2s alternate-reverse infinite;
  color: #007bff;
  /* font-family: ; */
  /* font-size: 72px; */
}
@keyframes neonAnim {
  from {
    text-shadow: 0 0 10px rgba(0, 123, 255, 0.7),
      0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
  }
  to {
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.7),
      0 0 60px rgba(0, 123, 255, 0.7);
  }
}

.App {
  /* min-height: 100vh; */
  height: 100%;
}
#bg-video {
  position: fixed;
  width: 100%;
  z-index: -2;
  top: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
}
.home-container {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.666);
}
.home-image {
  width: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.wish-card {
  text-align: justify;
  align-items: flex-start;
}

.image {
  width: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  );
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgba(9, 9, 121, 1);
  box-shadow: 0 0 20px #eee;
  font-weight: bold;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: rgba(9, 9, 121, 1);
  text-decoration: none;
}

.question-box {
  margin-top: 20px;
}

.option-item {
  cursor: pointer;
  border-radius: 10px !important;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  transition: 0.3s all;
}

.option-item.selected {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10 px !important;
}
.radio-label {
  cursor: pointer;
}
.custom-radio {
  width: 20px;
}

/* Footer Css */
.footer-list {
  list-style: none;
  padding: 0;
}
.footer-list li{
  padding: 5px 0;
  font-weight: bold;
}

/* End Footer Css */

/* Update Media Quiries */
@media (max-width: 768px) {
  .header {
    height: auto;
    background-size: auto 200px;
  }
  .right-content {
    /* text-align: center; */
    padding: 0 30px;
    margin-top: 50px;
  }
  .title {
    font-size: 25px !important;
  }
  .about-card{
    flex-direction: column ;
  }
}