@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --main-bg-color: ##f4f4f4;
  --main-light-color: ##f4f4f4;
  --main-dark-color: #152246;
  --main-primary-color: #9e679e;
  --main-secondary-color: #a1a4b0;
  --main-tertiary-color: #9e8b6d;
}

* {
  font-family: "Pacifico";
  /* color: white */
  color: linear-gradient(
    180.7deg,
    rgba(0, 213, 255, 1) 2.5%,
    rgba(79, 255, 255, 1) 97.7%
  );
}

.App {
  background: #f09819;
  background: -webkit-linear-gradient(to right, #edde5d, #f09819);
  background: linear-gradient(to right, #edde5d, #f09819);
  min-height: 100vh;
  height: 100%;
}
.name {
  font-size: 42px;
  background-image: linear-gradient(
    180.7deg,
    rgba(0, 213, 255, 1) 2.5%,
    rgba(79, 255, 255, 1) 97.7%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: transparent;
}
.wish-card {
  text-align: justify;
  align-items: flex-start;
}

.image {
  width: 100px;
  border-radius: 50px;
  object-fit: cover;
}

         
.btn-grad {
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

